html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", "Times New Roman", Times, serif;
  -ms-overflow-style: none; /*Hide scrollbar IE and Edge */
  scrollbar-width: none; /*Hide scrollbar Firefox */
}

.header-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #135bcf;
  color: #fff;
  align-items: center;
}

h1 {
  font-size: 5vw;
  text-align: center;
}

h4 {
  font-size: 2vw;
  text-align: center;
}

.sidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  background-color: #111;
  color: #fff;
  z-index: 1;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.25s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-button {
  position: sticky;
  top: 0;
  background-color: #111;
}

.main-nav {
  padding: 2vw;
  margin-top: 5vw;
  font-size: 2vw;
  line-height: 3rem;
}

.intro-nav {
  padding-left: 2.5vw;
  font-size: 2vw;
  line-height: 2rem;
}

.menu-button {
  width: 28px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
}

.menubuttonbox {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 5px 10px;
  align-items: center;
}

.menutext {
  padding-left: 10px;
  font-size: 20px;
}

.Main-content {
  margin: 8vw 15vw;
  font-size: 18px;
}

.Intro {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.foot {
  border-top: 1px solid #000;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
  align-items: center;
}

.Authors {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
}

.Authors p {
  font-size: 14px;
}

.Main-content > h2,
.Main-content > h3,
.Main-content > h5 {
  margin-left: -5vw;
  color: #2b3872;
}

.main-nav > li > a:link,
.main-nav > li > a:visited,
.intro-nav > li > a:link,
.intro-nav > li > a:visited,
.closebtn {
  color: #fff;
  text-decoration: none;
}

.main-nav > li > a:hover,
.intro-nav > li > a:hover {
  color: #5c5c5c;
  text-decoration: underline;
}

.main-nav > li > a:active,
.intro-nav > li > a:active {
  color: #303030;
  text-decoration: underline;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 500px) {
  .main-nav,
  .intro-nav {
    font-size: 5vw;
  }
  .main-nav {
    margin-top: 15vw;
  }
  .header-1 h1 {
    font-size: 10vw;
  }
  .header-1 h4 {
    font-size: 5vw;
  }
}
